/* account.css */
.container {
  border: solid;
  border-width: 1px;
  border-color: rgb(179, 167, 152);
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 5em;
  margin-bottom: 5em;
}


/* Quiz Selection Containers */
#quizSelectionsDiv{
  margin-left: 5em;
  margin-right: 5em;
  padding: 2em;
  width: 50%;
}

.quizSelections{
  border-width: 1px;
  margin-bottom: 1em;
}

/* Little Details */
.account-header {
  margin-left: 1em;
  margin-right: 1em;
}

span{
  color:rgb(72, 71, 64);
}

h3{
  display: inline;
}
h4{
  color:black;
}

/* Quiz preferences form */
.quiz-selection-form {
  background-color: rgba(202, 194, 172, 0.173);
  padding-left: 3em;
  padding-right: 3em;
  padding-top: .7em;
  padding-bottom: 1.5em;
  border-radius: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.editBtn{
  display: inline;
}

/* Reviews written container */
.review-container{
  padding: 5em;
  background-color: red;
}


#review-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-entry-box {
  /* margin: 2em; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

hr {
  width: 100%;
}

#no-reviews-msg {
  display: flex;
  justify-content: center;
  margin: 2em;
  padding: 2em;
  /* text-align: center; */
}


/* Product container */
.product-card{
  max-width: 20%;
  max-height: 20%;
  display: inline-block;
  white-space: normal;
}

.product-header {
  padding-bottom: 1em;
}

.review-entry-box {
  display: flex;
}

.half-box-1 {
  /* background-color: red; */
  /* width: 30%; */
  border: solid;
  border-width: 1px;
  border-radius: .4em;
  display: block;
  margin-top: 1em;
  border-color: rgba(173, 169, 159, 0.516);
  margin: 2em;
  padding: 2em;

}

.half-box-2 {
  /* background-color: blue; */
  padding-left: 5em;
  padding-right: 5em;
  /* width: 64%; */

  border: solid;
  border-width: 1px;
  border-radius: .4em;
  display: block;
  border-color: rgba(173, 169, 159, 0.516);
  margin: 2em;
  padding: 2em;
}

/* Make sure images aren't too big in review box */
.limit-img-size {
  max-width: 40vh;
}


.cancel-btn-div {
  display: flex;
  justify-content: right;
}





/* Account review CSS */
.new-review {
    padding: 2em;
    display: flex;
}

.review-card {
    display: flex;
    justify-content: center;
}

.review-buttons {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.submit-btn-container {
    display: flex;
    justify-content: center;
}

.submit-btn {
    background-color: rgb(246, 246, 246);
    border-radius: 0.5em;
    width: 25%;
    margin-top: 1em;
}

.button-txt {
    padding-top: 1em;
    padding-bottom: 1em;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.review-entry-input{
    width: 100%;
    white-space: pre-wrap;
}

.requried-field-txt {
  font-size: xx-small;
  font-weight: lighter;
}