/* product.css */

/* Product page consistent attributes */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(118, 118, 118);
}

h3 {
  font-weight: bold;
  color:black;
}


/* Filter-related CSS */
#filterHeader {
  background-color: rgb(255, 255, 255);
  display: block;
  text-align: center;
}

#filterform {
  margin-left: 1vh;
}

/* Filter submit button */
.button-submit {
  margin-top: 4vh;
  background: rgb(163, 157, 139);
}

/* Filter section */
#menu{
  margin-top: 3.55em;
  background-color: rgba(219, 218, 211, 0.21)
  /* background-image: url(/static/images/background/homepage-background.jpg); */
}

/* Hamburger icon */
.menu-link{
  margin-top: 5em;
  background-color: #b1aaa1;
} 

/* Products displayed in horizontal rows */
.productContainer{
  margin-left: 4vh;
  margin-right: 4vh;
}


/* Search bar CSS */
#search_bar{
  border-style:none;
  border-radius: .5em;
  height: 1.8em;
  width: 18em;  
  background-color: rgb(204, 205, 192);
}

#search_bar:hover{
  background-color: rgba(255, 255, 255, 0.609);
}

#search_bar_btn:hover{
  background-color: rgba(255, 255, 255, 0.609);}

.stepContainers{
  overflow-x:scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.stepContainers::-webkit-scrollbar{
  display:none;
}

.product-card{
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  white-space: normal;
}


/* Arrow box for viewing products in dynamically moving rows */
.arrow-div{
  display: flex;
  justify-content: center;
}


.arrow-btn{
  background: none;
  border-style: none;
}

.arrow-img{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(196, 189, 180);
  width: 4vh;
  margin: 1vh;
}

.add-to-routine-btn{
  color:red;
  border-style: solid;
  border-radius: 10em;
  border-width: 1px;
  border-color: rgb(209, 205, 198);
  width: 2.2em;
  height: 2.2em;
  padding-top:.3em;
}
.add-to-routine-btn:hover{
  background-color: rgba(129, 129, 129, 0.319);
}

.recommendedBtn{
  border-radius: .5em;
  border-style: solid;
  border-width: 1px;
  width: 8.5em;
  height: 3em;
  margin-left:.5em;
  background-color: rgba(225, 219, 214, 0.619);
  border: none;
  font-size: 1em;
  margin-bottom: 1em;
}

.recommendedBtn:hover{
  background-color: rgb(220, 214, 209);

}
#form_msg{
  margin-left: .5em;
  margin-top: .1em;
}

.form-popup{
  margin-left: 5vw;
}

/* Review */
a span{
  color: rgb(187, 188, 167);
}

.product-header h2{
  padding-top: 4.5px;
}
.product-header{
  background-color: rgba(213, 213, 213, 0.21);
  width: 12em;
  height: 5em;
  border-radius: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.content-subhead {
  margin: 20px 0 20px 0;
}

.pure-img-responsive{
  max-height: 25vh;
}