/* product.css */


/* Product page consistent attributes */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(118, 118, 118);
}

h3 {
  font-weight: bold;
  color:black;
}



/* Filter-related CSS */
#filterHeader {
  background-color: rgb(255, 255, 255);
  display: block;
  text-align: center;
}

#filterform {
  margin-left: 1vh;
}

/* Filter submit button */
.button-submit {
  margin-top: 4vh;
  background: rgb(163, 157, 139);
}

/* Filter section */
#menu{
  margin-top: 3.55em;
  background-color: rgba(181, 175, 166, 0.138);

}

/* Hamburger icon */
.menu-link{
  margin-top: 5em;
  background-color: #b1aaa1;
} 

/* Products displayed in horizontal rows */
.productContainer{
  margin-left: 4vh;
  margin-right: 4vh;
}


/* Search bar CSS */
#searchBar{
  border-style:none;
  border-radius: .5em;
  height: 1.8em;
  width: 14em;
}

#searchBar:hover{
  background-color: rgb(212, 206, 195);
}

#searchbarbtn{
  border-radius: .5em;
  border-style: none;
  color: rgb(129, 127, 119);
  height: 1.8em;
  width: 5em;
}
#searchbarbtn:hover{
  background-color: white;
}

.stepContainers{
  overflow-x:scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.product-card{
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  white-space: normal;
}


/* Arrow box for viewing products in dynamically moving rows */
.arrow-div{
  display: flex;
  justify-content: center;
}


.arrow-btn{
  background: none;
  border-style: none;
}

.arrow-img{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(196, 189, 180);
  width: 4vh;

  margin: 1vh;
}
