/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  margin-top: 5%;
  /* margin-left: 10%; */
  height: 86%;
  width: 80%;
  border: 3px solid #727066;
  z-index: 9;
  overflow: scroll;

  font-size: 1.5em;
}

/* Add styles to the form container */
.form-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
}



/* Customizeed CSS radio butotns */
.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 2%;
  padding-right: 2%;
}

/* Quiz buttons */
.form-container input[type="radio"] {
    display: none;
}

label.quiz-btn-label {
  position: relative;
  color: rgb(85, 81, 75);
  font-size: 15px;
  border: 2px solid rgb(111, 111, 101);
  border-radius: 5px;
  padding: 10px 50px;
  margin: 5px;
  display: flex;
  align-items: center;
}
label.quiz-btn-label:before {
  content: "";
  height: 30px;
  width: 30px;
  border: 3px solid rgb(141, 138, 124);
  border-radius: 50%;
  margin-right: 20px;  
}
input[type="radio"]:checked + label.quiz-btn-label {
  background-color: rgba(130, 126, 114, 0.354);
  color: rgb(48, 48, 47);
}
input[type="radio"]:checked + label.quiz-btn-label:before {
  height: 16px;
  width: 16px;
  border: 10px solid white;
  background-color: rgb(199, 199, 199);
}

.center-text {
  text-align: center;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #7d7d78;
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.75;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgba(207, 166, 137, 0.866);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/* Take quiz button */
#take-quiz-btn {
  color: black;

}

#fake_take_quiz_btn{
  color: black;
}

.quiz-btn {
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.black-border {
  border: solid black 1px;
}

.y {
  background-color: rgba(0, 0, 255, 0.05);
}

.x {
  background-color: rgb(255, 255, 255);
}

#quizdiv{
  background-color: rgb(255, 255, 255);
}