/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  margin-top: 5%;
  margin-left: 10%;
  height: 75%;
  width: 80%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
}



/* Customizeed CSS radio butotns */
.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

input[type="radio"] {
  /* display: none; */
}
label {
  position: relative;
  color: green;
  font-size: 30px;
  border: 2px solid green;
  border-radius: 5px;
  padding: 15px 50px;
  margin: 10px;
  display: flex;
  align-items: center;
}
label:before {
  content: "";
  height: 30px;
  width: 30px;
  border: 3px solid green;
  border-radius: 50%;
  margin-right: 20px;  
}
input[type="radio"]:checked + label {
  background-color: green;
  color: white;
}
input[type="radio"]:checked + label:before {
  height: 16px;
  width: 16px;
  border: 10px solid white;
  background-color: green;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/* Take quiz button */
#take-quiz-btn {
  color: black;

}

.quiz-btn {
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.black-border {
  border: solid black 1px;
}