/* review_form.css */

/* Top header of review form */
#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

/* Box that has cancel add review button */
#close-form-div {
    display: flex;
    justify-content: right;
}

/* Review form for review page */
#main-container {
    position: fixed;
    margin-top: 3%;
    margin-left: 7.5%;
    height: auto;
    width: 85%;
    border: 2px solid #c0c0c0;
    border-radius: 0.3em;
    z-index: 1;
    background-color: rgb(252, 252, 252);
    font-size: 0.85em;
}


/* Each for review table column */
.review-form-entry {
    margin: 1em;
}

/* Each input tag for add review form */
.review-form-input {
    width: 100%;
}


.requried-field-txt {
    margin: 0.5em;
    padding: 1em;
    font-size: xx-small;
    font-weight: lighter;
}


/* Submit buttons */
#submit-btn-container {
    display: flex;
    justify-content: center;
    margin: 0.25em;
}

#submit-btn {
    background-color: rgb(220, 220, 220);
}
