/* reviews.css */
#reviewsContainer {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.singleReviewContainer {
 width: 500px;
 box-shadow: 2px 2px 30px rgba(187, 185, 171, 0.55);
 background-color: rgb(254, 254, 254);
 padding: 20px;
 margin: 15px;
}

.user_first_name {
 flex-direction: column;
}

h3 {
 color: rgb(74, 70, 70);
 letter-spacing: .8px;
 margin-bottom: .1px;
}

.written-review {
 color:rgb(142, 138, 135);
}

/* Write Review Btn Stuff  */
#writeReviewBtn {
  background-color: #cfcfcf;
  border-radius: 0.3em;
  border-width: 1px;
  border-color: rgb(212, 202, 191);
  color:rgb(97, 125, 97);
  padding: 1em;
}

#writeReviewBtn:hover {
 background-color: rgba(79, 75, 71, 0.263);
 color:white;
}

#addReviewDiv {
 display: flex;
 justify-content: center;
 margin: 5em;
}

/* checked review stars */
.checked {
 color: rgb(104, 101, 89);
}

.unchecked{
  color: rgba(184, 175, 153, 0.527);
}
h4 {
 margin-top: .5em;
}

#content_title {
 display: inline;
 margin-left: 1em;
 color: black;
}

#review_container {
 width: 50em;
 margin: auto;
}

#no_review_msg {
 margin-left: 45%;
 margin-top: 10em;
}



/* Review images */
.product-img-container {
  /* background-color: red; */
  margin: 1%;
  padding: 1%;
}

.review-img {
  max-width: 20%;
}

#review-list {
  margin: 2em;
}

#review-stats-box {
  background-color: rgb(245, 245, 245);
  border-radius: 0.4em;
  height: auto;
  margin: 2em;
  padding: 1em;
}

.statistic {
  padding-left: 1em;
  padding-right: 1em;
}