/* star.css */

/* Reference: https://foolishdeveloper.com/5-star-rating-using-html-and-css-code-demo/#:~:text=The%20five%2Dstar%20rating%20HTML,give%20reviews%20about%20that%20product. */

/* body{
    background: #222225;
    color: white;
    margin: 100px auto;
    } */
    
    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    
    /* Hide radio circle from showing */
    .rating > label input{ 
        display: none;
    }
    
    .rating > label {
        position: relative;
        width: 1.5em;
        font-size: 2.1vw;
        color: #949494;
        cursor: pointer;
        opacity: 0.5;
    }
    
    .rating > label::before{
        content: "\2605";
        position: absolute;
        left: 1px;
        bottom: 1px;
    }
    
    .rating > .star:hover:before,
    .rating > .star:hover ~ .star:before {
        opacity: 1 !important;
        color: "#ffe137";
    }
    