#log_in_message_container{
  text-align: center;
  background-color: rgba(185, 174, 159, 0.155);
  border-radius: 1em;
  margin-top: 2em;
}

h2 {
  color: rgb(120, 112, 99);
}

.remove-from-routine-btn{
background-image: url(/static/images/UI/x-icon.png);
width: 3em;
height: 3em;
border-style: none;
background-color: transparent;
border-radius: 2.9em;
transform: scale(.6);
}

.remove-from-routine-btn:hover{
  background-color: rgba(155, 155, 155, 0.191);
}

/* .pure-img-responsive{
  max-height: 20vh;
} */

.product-container{
  padding-left: 3em;
}
