<!-- adccount.html -->
<!-- SkinEasy User Account Ppage -->

<!-- Inherits from: -->
{% extends "base.html" %}

<!-- Title  -->
{% block title %}Your Account{% endblock %}

<!-- Head -->
{% block head %}
  {{ super() }}
 
    <!-- PureCSS -->
    <link rel="stylesheet" href="https://purecss.io/layouts/side-menu/styles.css">
    <script src="https://purecss.io/js/ui.js"></script>

    <!-- External CSS libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/account.css">

     <!-- JS -->
     <script type="text/javascript" async defer src="/static/js/account.js"></script>

{% endblock %}

{% block content %}
    <div id="main">
        <div class="header">
            <h1>Your Account</h1>
        </div>
    
        <!-- Quiz Selection Container  -->
        <div id="quizSelectionContainer">
            <h2 class="account-header">Your Quiz Selections:</h2>
            <hr>

            <!-- Selection Content Container -->
            <div id="quizSelectionsDiv" class="pure-g">


                <div class="quizSelections pure-u-1">
                    <button onclick="show_skin_type_form()" id="edit_skin_type_btn" class="editBtn"><img id="icons" src="/static/images/UI/editIcon.png" ></button>
                    <h3><span>Skin Type:</span> {{ user_skin_type }}</h3>
                        <!-- Skin type form -->
                        <form action="/edit_user_preferences" style="display:none" id="skin_type_form" method="POST">
                            <h4>Modify your skin type: </h4>
                            <!-- Option 1) Normal skin -->
                            <input type="radio" id="normal-skin" name="skin-type" value="normal-skin">
                            <label class="quiz-btn-label" for="normal-skin">Normal</label><br>
                            <!-- Option 2) Dry skin -->
                            <input type="radio" id="dry-skin" name="skin-type" value="dry-skin">
                            <label class="quiz-btn-label" for="dry-skin">Dry</label><br>
                            <!-- Option 3) Oily skin -->
                            <input type="radio" id="oily-skin" name="skin-type" value="oily-skin">
                            <label class="quiz-btn-label" for="oily-skin">Oily</label>
                            <button type="submit" id="submit_edit_btn">Modify</button>
                        </form> 
                </div>   


                <div class="quizSelections pure-u-1">
                    <button onclick="show_skin_target_form()"  id="edit_target_btn"><img id="icons" src="/static/images/UI/editIcon.png" ></button>
                    <h3><span>Target:</span> {{ user_target }}</h3>
                    <!-- Skin Targeting Form -->
                    <form action="/edit_user_preferences" style="display:none" id="target_form" method="POST">
                        <h4>Modify your skin target: </h4>
                        <!-- Option 1) Sensitive -->
                        <input type="radio"id="sensitive-target" name="target-type" value="sensitive-target">
                        <label class="quiz-btn-label" for="sensitive-target">Sensitive</label><br>
                        <!-- Option 2) Mature -->
                        <input type="radio" id="mature-target" name="target-type" value="mature-target">
                        <label class="quiz-btn-label" for="mature-target">Mature</label><br>
                        <!-- Option 3) None -->
                        <input type="radio" id="none-target" name="target-type" value="none-target">
                        <label class="quiz-btn-label" for="none-target">None</label>
                        <button type="submit" id="submit_edit_btn">Modify</button>
                    </form>
                </div>

                
                <div class="quizSelections pure-u-1">
                    <button onclick="show_num_of_steps_form()"  id="edit_num_of_steps_btn"><img id="icons" src="/static/images/UI/editIcon.png" ></button>
                    <h3><span># of Steps:</span> 
                        {% if routine_steps == 2 or routine_steps == 3 %}
                            <span>{{ routine_steps }}</span>
                        {% elif routine_steps == 6 %}
                            <span>4+</span>
                        {% else %}
                            <span>0</span>
                        {% endif %}
                    </h3>
                    <!-- Number of Steps Form -->
                    <form action="/edit_user_preferences" style="display:none" id="num_of_steps_form" method="POST">
                    <h4>Modify the number of steps in your routine:</h4>
                    <!-- Option 1) Redness -->
                    <input type="radio" id="two-steps" name="number-steps" value="2">
                    <label class="quiz-btn-label" for="two-steps">2 Steps</label><br>
                    <!-- Option 2) Acne -->
                    <input type="radio" id="three-steps" name="number-steps" value="3">
                    <label class="quiz-btn-label" for="three-steps">3 Steps</label><br>
                    <!-- Option 3) None -->
                    <input type="radio" id="three-plus-steps" name="number-steps" value="6">
                    <label class="quiz-btn-label" for="three-plus-steps">4+ Steps</label>
                        <button type="submit" id="submit_edit_btn">Modify</button>
                    </form>
                </div>


            </div>      
                    
        </div>
        

        <!-- User reviews section -->
        <div class="container">
            <h2 class="account-header">Your Reviews: {% if review_list %} {{review_list | count}} {% endif %}</h2>
            <hr>
                {% if review_list %}
                    <div id="review-list-container">
                                <!-- Loop through each review and show review details -->
                                <!-- Reference to get list length via jinja2: https://stackoverflow.com/questions/14702917/python-jinja2-template-how-to-count-a-list -->
                                {% for i in range(0, review_list|count) %}
                                    {% set review = review_list[i][0] %}
                                    {% set product = product_list[i][0] %}
                                        
                                        <!-- User's review -->
                                        <div class="review-entry-box">
                                            
                                            <!-- Product they reviewed -->
                                            <div class="half-box-1 product-card">
                                                <div class="product-header"><h3>Product</h3></div>
                                                    <!-- Product referral link -->
                                                    <a href="{{ product['product_url'] }}">                                                    
                                                        <!-- Product image -->
                                                        <img class="pure-img-responsive" src="{{ product['image_path'] }}" alt="image of product">
                                                    </a>

                                                    <!-- Product name -->
                                                    <div class="product-name">
                                                        <p> {{ product['product_name'] }} </p>
                                                    </div>

                                                    <!-- Product price & review information -->
                                                    <div class="product-reviews-selector">
                                                        <p> ${{ product['display_price'] }} <a href="/reviews?product_id={{product['product_id']}}"> Reviews </a> </p>
                                                    </div>
                                            </div>


                                            <br>

                                            <div class="half-box-2 review-card">
                                                <!-- Review header -->
                                                <div class="product-header"><h3>Your Review</h3></div>
                                                    <!-- Review rating -->
                                                    {% for i in range(0, 5)  %}
                                                        {% if review['rating'] > i %}
                                                            <span class="fa fa-star checked star"></span>
                                                        {% else %}
                                                            <span class="fa fa-star star unchecked"></span>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <!-- Review title -->
                                                    <h4 id="content_title">
                                                        {{ review['title'] }}
                                                        <button onclick=""  id="edit-btn"><img id="icons" src="/static/images/UI/editIcon.png" ></button>
                                                        <button onclick=""  id="remove-btn"><img id="icons" src="/static/images/UI/deleteIcon.png" ></button>
                                                    </h4>
                                                    <!-- Review date -->
                                                    <h4>{{ review['to_char'] }}</h4>
                                                    <!-- Review image -->
                                                    {% if review['img_stream'] != None %}
                                                        <div class="review-img">
                                                            <img src="/images/{{ review['review_id'] }}" alt="image of a product">
                                                        </div>
                                                    {% endif %}
                                                    <!-- Review content -->
                                                    <div class="review-content">
                                                        <p>
                                                        {{ review['content'] }}
                                                        </p>
                                                    </div>
                                            </div>

                                        </div>

                                        <hr>
                              
                                    
                                {% endfor %}
                        
                    </div>

                {% else %}
                    <div id="no-reviews-msg">
                        <h3>You have written no reviews at this time.</h3>
                    </div>
                {% endif %}
                
            
        </div>


    </div>

{% endblock %}
