<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/star.css">
    <link rel="stylesheet" href="/static/css/review_form.css">
</head>

<!-- Top-level text -->
<div class="header review-header">
    <h2>Write a review:</h2>
</div>

<!-- Five stars reference: https://codepen.io/hesguru/pen/BaybqXv -->
<div id="review-form-container">
    <form id="review-form" class="pure-form pure-form-stacked" action="/add_review" method="POST" enctype="multipart/form-data">

        <!------------->
        <!-- Rating --->
        <!------------->
        <div id="review-title-container" class="add-review-form-entry">
        <div class="rating">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="text"> 5 </label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="text"> 4 </label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="text"> 3 </label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="text"> 2 </label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="text"> 1 </label>
        </div>
    </div>


        <!-------------->
        <!--- Title ---->
        <!-------------->
        <div id="review-title-container" class="add-review-form-entry">
            <label class="review-entry-label" for="product-img-path"><h3>Review Title</h3></label>
            <input class="review-entry-input" type="text" id="product-img-path" name="product-img-path" placeholder="Would you like to title your review?" maxlength="255">
        </div>

        <hr> <!-- Horizontal line-->

        <!-------------->
        <!--- Media ---->
        <!-------------->
        <div id="review-media" class="add-review-form-entry">
            <label for="media-review"><h3>Add a photo:</h3></label>
            <button>Add media</button>
        </div>
        
        <hr> <!-- Horizontal line-->

        <!----------------------->
        <!--- Written review ---->
        <!----------------------->
        <div id="written-review-container" class="add-review-form-entry">
            <label class="review-entry-label" for="written-review"><h3>Written review:</h3></label>
            <textarea class="review-entry-input" id="written-review" name="written-review" rows="7" cols="75" placeholder="How was this product for you?"></textarea>
        </div>
        
        <hr> <!-- Horizontal line-->

        <!-------------------->
        <!-- Submit button --->
        <!-------------------->
        <div id="review-media" class="add-review-form-entry">
            
        </div>
        <div class="submit-btn">
            <button type="submit" class="" style="width: 20%; height: 40px"><b>Submit</b></button>
        </div>


    </form>
</div>
    

    