<!-- base.html -->
<!doctype html>
<html lang="en">

<!-- Head -->
<head>
  {% block head %}

  <!-- Title -->
  <title>{% block title %}{% endblock %}</title>

  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A skincare recommendation site that will curate a skincare routine for you.">

  <!-- Pure CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">

  {% endblock %}
</head>

<!-- Body -->
<body>
  <div id="page">
    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">SKINEASY</a>
        {% block searchBar %}{% endblock %}
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/products" class="pure-menu-link">Products</a></li>
          <li class="pure-menu-item"><a href="/routine" class="pure-menu-link">Your Routine</a></li>

          <!-- Show username if user logged in -->
          {% if session and session.userinfo %}
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover dropdown">
            <!-- Show username from server -->
            <div id="username">
              {{session.userinfo.nickname}}
            </div>
            <ul class="pure-menu-children">
              <li class="pure-menu-item">
                <a href="/account" class="pure-menu-link" id="myAccountBtn">Your Account</a>
              </li>
              <li class="pure-menu-item">
                <a href="/logout" class="pure-menu-link" id="logoutBtn">Log Out</a>
              </li>
            </ul>
          </li>

          <!-- If user not logged in, show log in option -->
          {% else %}
          <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Log in</a></li>
          {% endif %}

        </ul>
      </div>
    </div>
    <!-- Main page content -->
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    {% block footer %}
    <!-- Page footer -->
    <div id="footer">
      <div>
        <span>
          Tenzin Tseten, Joshua Yang & Ishika Nimmagadda &copy; Copyright 2023 &emsp; &emsp; 
          Photo Credits: Sephora, Amazon, Target, Dermologica, Freepik, Weleda, Ulta
        </span>
      </div>
    </div>
    {% endblock %}
  </div>

</body>


</html>