<!-- home.html -->
<!-- SkinEasy home page -->

<!-- Inherits from: -->
{% extends "base.html" %}

<!-- Title  -->
{% block title %}SkinEasy Home{% endblock %}

<!-- Head -->
{% block head %}
  {{ super() }}
 
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="stylesheet" href="/static/css/quiz.css">

    <!-- JS -->
    <script type="text/javascript" async defer src="/static/js/quiz.js"></script>

{% endblock %}

<!-- Page content -->
{% block content %}
    <!-- Landing page immediate content -->
    <div id="immediate-content">
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Skincare routine made easy.</h1>
            <p class="splash-subhead">
                take our skin care quiz to find products that work for you.
            </p>
            <!-- If user is logged in they can take the quiz -->
            {% if session %}
            <p>
                <!-- Pop-up skin-care quiz -->
                <button id="take-quiz-btn" class="pure-button pure-button-primary">TAKE QUIZ</button>
            </p>
            {% endif %}
            <!-- If user is not logged in, it will redirect them to the auth0 login -->
            {% if session == none %}
            <p>
                <a href="/login"><button class="pure-button pure-button-primary" id="fake_take_quiz_btn">TAKE QUIZ</button></a>                
            </p>
            {% endif %}
        </div>
    </div>
    </div>

    <!-- Hidden quiz form -->
    <div class="form-popup" id="myForm">
    <form action="/api/quiz" class="form-container">
        
        <!-- Pure grid -->
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-1 y" id="quizdiv">

                <!-- Question 1) -->
                <h4 class="">What is your skin type?</h4>
                <div class="radio-container">
                    <!-- Option 1) Normal skin -->
                    <input type="radio" id="normal-skin" name="skin-type" value="normal-skin">
                    <label class="quiz-btn-label" for="normal-skin">Normal</label><br>
                    <!-- Option 2) Dry skin -->
                    <input type="radio" id="dry-skin" name="skin-type" value="dry-skin">
                    <label class="quiz-btn-label" for="dry-skin">Dry</label><br>
                    <!-- Option 3) Oily skin -->
                    <input type="radio" id="oily-skin" name="skin-type" value="oily-skin">
                    <label class="quiz-btn-label" for="oily-skin">Oily</label>
                </div>

                <!-- Question 2 -->
                <h4 class="">Are you targeting any of these?</h4>
                <div class="radio-container">
                    <!-- Option 1) Sensitive -->
                    <input type="radio"id="sensitive-target" name="target-type" value="sensitive-target">
                    <label class="quiz-btn-label" for="sensitive-target">Sensitive</label><br>
                    <!-- Option 2) Mature -->
                    <input type="radio" id="mature-target" name="target-type" value="mature-target">
                    <label class="quiz-btn-label" for="mature-target">Mature</label><br>
                    <!-- Option 3) None -->
                    <input type="radio" id="none-target" name="target-type" value="none-target">
                    <label class="quiz-btn-label" for="none-target">None</label>
                </div>
                

                <!-- Question 3 -->
                <h4 class="">How many steps would you like in your routine?</h4>
                <div class="radio-container">
                    <!-- Option 1) Redness -->
                    <input type="radio" id="two-steps" name="number-steps" value="2">
                    <label class="quiz-btn-label" for="two-steps">2 Steps</label><br>
                    <!-- Option 2) Acne -->
                    <input type="radio" id="three-steps" name="number-steps" value="3">
                    <label class="quiz-btn-label" for="three-steps">3 Steps</label><br>
                    <!-- Option 3) None -->
                    <input type="radio" id="three-plus-steps" name="number-steps" value="6">
                    <label class="quiz-btn-label" for="three-plus-steps">4+ Steps</label>
                </div>

                <br>
                
                <!-- Submit button -->
                <button type="submit" class="btn">Submit</button>

                <!-- Close form popup button -->
                <button id="close-quiz-btn" type="button" class="btn cancel">Close</button>
            </div>

        </div>

    </form>
    
    </div>

    <!-- Bottom page contents -->
    <div>
    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">What does the product do?</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                    <h3 class="content-subhead">
                        <i class="fa fa-rocket"></i>
                        Cleanser
                    </h3>
                    <p>
                        Cleanser is a skincare product that removes dirt, oil, makeup, deadskin cells and other pollutants from the skin.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <h3 class="content-subhead">
                        <i class="fa fa-mobile"></i>
                        Exfoliant
                    </h3>
                    <p>
                        Using an exfoliant will remove dead skin cells from the surface of your skin using a chemical or granular substance.   
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <h3 class="content-subhead">
                        <i class="fa fa-th-large"></i>
                        Toner
                    </h3>
                    <p>
                        Toner is used to refresh your skin without stripping it of its natural moisture. Toner also prepares the skin to absorb the next steps in your routine after cleansing. 
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <h3 class="content-subhead">
                        <i class="fa fa-check-square-o"></i>
                        Serum
                    </h3>
                    <p>
                        There are a variety of serums for different purposes. Some help to brighten skin while others help to reduce blemishes, while others focus soley on boosting hydration or fighting aging.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <h3 class="content-subhead">
                        <i class="fa fa-check-square-o"></i>
                        Moisturizer
                    </h3>
                    <p>
                        The main purpose of a moisturizer is to prevent and hydrate dry skin. Beyond that, with continued use it can improve the skin barrier and improve skin tone and texture.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <h3 class="content-subhead">
                        <i class="fa fa-check-square-o"></i>
                        Sunscreen
                    </h3>
                    <p>
                        Sunscreen will protect your skins appearance and health. Using regularly, sunscreen will help prevent sunburn, skin cancer and premature aging. 
                    </p>
                </div>
                
            </div>
        </div>


        <div class="content">
            <h2 class="content-head is-center">Contact Us</h2>

            <form action="mailto: skineasyhelp@gmail.com"
            method="POST"
            enctype="text/plain"
            name="EmailForm">
                Name:<br>
                <input type="text" size="19" name="Name"><br><br>
                Subject:<br>
                <input type="subject" name="Subject"><br><br> 
                Message:<br> 
                <textarea name="Message">
                </textarea><br><br> 
                <button type="submit" value="Submit">Send</button>
            </form>  

                <div class="l-box-lrg pure-u-1 pure-u-md-1">
                    <!-- <h4>Contact Us Directly</h4> -->
                    <p name="Emailbot" >Email: skineasyhelp@gmail.com</p>
                
                    
            

                    <!-- <h4>More Information</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p> -->
                </div>
            </div>

        </div>

    </div>
{% endblock %}