<!-- products.html -->
<!-- SkinEasy Products Page -->

<!-- Inherits from: -->
{% extends "base.html" %}

<!-- Title  -->
{% block title %}SkinEasy Products{% endblock %}

<!-- Head -->
{% block head %}
    {{ super() }}
    <!-- Page title -->
    <title>SkinEasy</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">

    <!-- Pure CSS -->
    <link rel="stylesheet" href="https://purecss.io/css/pure/pure-min.css">
    <link rel="stylesheet" href="https://purecss.io/layouts/side-menu/styles.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/products.css">

    <!-- Javascipt -->
    <script type="text/javascript" async defer src="https://purecss.io/js/ui.js"></script>
    <script type="text/javascript" async defer src="/static/js/products.js"></script>
{% endblock %}


<!-- Top navigation bar -->
{% block header %}
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">SKINEASY</a>
        
        <!-- Search bar -->
        <li class="pure-menu-item">
            <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search" id="searchBar">
            <button type="submit" id="searchbarbtn">Submit</button>
            </form>
        </li>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/products" class="pure-menu-link">Products</a></li>
            <li class="pure-menu-item"><a href="/routine" class="pure-menu-link">Your Routine</a></li>
            <li class="pure-menu-item"><a href="/signin" class="pure-menu-link">Sign In</a></li>
        </ul>
    </div>
{% endblock %}


<!-- Page content -->
{% block content %}
    <!-- Page layout  -->
    <div id="layout">
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <!-- Filter menu -->
        <!-- Keep a checkbox marked reference: https://stackoverflow.com/questions/63702099/how-to-make-a-checkbox-checked-in-jinja2 -->
        <div id="menu" class="pure-g filterContainer">
            <form id="filterform" action="/products" method="GET">

                <!-- Filter by product category -->
                <h3>Category</h3>
                <div>
                    <input type="checkbox" id="cleanser" name="cleanser" value="True" {{ "checked" if query_dict['cleanser'] }}>           
                    <label for="cleanser">Cleanser</label>
                </div>
                <div>
                    <input type="checkbox" id="exfoliant" name="exfoliant" value="True" {{ "checked" if query_dict['exfoliant'] }}>
                    <label for="exfoliant">Exfoliant</label>
                </div>
                <div>
                    <input type="checkbox" id="toner" name="toner" value="1" {{ "checked" if query_dict['toner'] }}>                    
                    <label for="toner">Toner</label>
                </div>
                <div>
                    <input type="checkbox" id="serum" name="serum" value="1" {{ "checked" if query_dict['serum'] }}>                    
                    <label for="serum">Serum</label>
                </div>
                <div>
                    <input type="checkbox" id="moisturizer" name="moisturizer" value="1" {{ "checked" if query_dict['moisturizer'] }}>                    
                    <label for="moisturizer">Moisturizer</label>
                </div>
                <div>
                    <input type="checkbox" id="sunscreen" name="sunscreen" value="1" {{ "checked" if query_dict['sunscreen'] }}>                    
                    <label for="sunscreen">Sunscreen</label>
                </div>


                <!-- Filter by skin type -->
                <h3>Skin Type</h3>
                <div>
                    <input type="checkbox" id="normal" name="normal" value="1" {{ "checked" if query_dict['normal'] }}>
                    <label for="normal">Normal</label>
                </div>
                <div>
                    <input type="checkbox" id="dry" name="dry" value="1" {{ "checked" if query_dict['dry'] }}>
                    <label for="dry">Dry</label>
                </div>
                <div>
                    <input type="checkbox" id="oily" name="oily" value="1" {{ "checked" if query_dict['oily'] }}>
                    <label for="oily">Oily</label>
                </div>
                <div>
                    <input type="checkbox" id="all" name="all" value="1" {{ "checked" if query_dict['all'] }}>
                    <label for="all">Show All</label>
                </div>


                <!-- Filter by price-->
                <h3>Price</h3>
                <!-- $0-$20 -->
                <div>
                    <input type="radio" id="price-under-20" name="price" value="price-under-20" {{ "checked" if query_dict['price'] == 'price-under-20' }}>
                    <label for="price-under-20">Under $20</label>
                </div>
                <!-- $20-$40 -->
                <div>
                    <input type="radio" id="price-20-40" name="price" value="price-20-40" {{ "checked" if query_dict['price'] == 'price-20-40' }}>
                    <label for="price-20-40">$20 - $40 </label>
                </div>
                <!-- $40-$60 -->
                <div>
                    <input type="radio" id="price-40-60" name="price" value="price-40-60" {{ "checked" if query_dict['price'] == 'price-40-60' }}>
                    <label for="price-40-60">$40 - $60 </label>
                </div>
                <!-- $60-$80 -->
                <div>
                    <input type="radio" id="price-60-80" name="price" value="price-60-80" {{ "checked" if query_dict['price'] == 'price-60-80' }}>
                    <label for="price-60-80">$60 - $80 </label>
                </div>
                <!-- $80+ -->
                <div>
                    <input type="radio" id="price-above-80" name="price" value="price-above-80" {{ "checked" if query_dict['price'] == 'price-above-80' }}>
                    <label for="price-above-80">$80 & Above</label>
                </div>
                <!-- All -->
                <!-- Reference on jinja2 dictionay size: https://stackoverflow.com/questions/19492409/comparing-length-of-dictionary-in-jinja-flask-template -->
                <div>
                    <input type="radio" id="price-all" name="price" value="price-all" {{ "checked" if (query_dict|length == 0) or (query_dict['price'] == 'price-all') }}>
                    <label for="price-all">All</label>
                </div>
                <button class="button-submit pure-button">Filter</button>    
            </form>
            
        </div>
 

        <!-- Main page content -->
        <div id="main">
            <div class="header">
                <h1>Products</h1>
                <!--do templating and change below to empty string if all products pg, do below if user submited quiz(takes them to recc page) -->
                <h3>Your recommended products</h3>
                <h4>{{ query_dict }}</h4>     
            </div>
            <div class="productContainer">
    
                <!-- Step 1 Row -->
                <div id="step-1" >

                    <!-- Header -->
                    <h2 class="content-subhead">Step 1: Cleanser</h2>

                    <!-- Time schedule caption -->
                    <p> 1 - 3 times a week: AM </p>
                    
                    <!-- Row of products -->
                    <div class="stepContainers" id="step-1-container">
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.amazon.com/Aveeno-Moisturizing-Soothing-Emollients-Fragrance-Free/dp/B001459IEE?ref_=ast_sto_dp&th=1&psc=1"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="lotion"></a>
                            <p>Aveeno Daily Moisturizer</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.cerave.com/skincare/cleansers/hydrating-facial-cleanser"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="cereve"></a>
                            <p>CereVe Hydrating Facial Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div> 
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.sephora.com/product/goop-goopglow-cloudberry-exfoliating-jelly-cleanser-P480606?country_switch=us&lang=en&skuId=2535979&srsltid=Ad5pg_HwCnlsbkoTgh_1sfq1vIQSSZRAla4u3DvtC59qpI5NSHsFng_TOJ0"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="goop lotion"></a>
                            <p>Goopglow Cloudberry Exfoliating Jelly Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser1.jpg" alt="cereve cleanser">
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser7.jpg" alt="cleanser">
                            <p>Shani Darden Cleansing Serum</p>
                            <p>$38.00<a href="/reviews">  Reviews</a></p>
                        </div>
                    </div>

                    <!-- Left & Right Arrows  -->
                    <div class="pure-g arrow-div">
                        <img class="arrow-btn left-arrow arrow-img" src="/static/images/UI/leftArrow.png"> 
                        <img class="arrow-btn right-arrow arrow-img" src="/static/images/UI/rightArrow.png">
                    </div>
                </div>

                <hr>

                <!-- Step 2 Row -->
                <div id="step-2" >

                    <!-- Header -->
                    <h2 class="content-subhead">Step 2: Exfoliant</h2>

                    <!-- Time schedule caption -->
                    <p> 1 - 3 times a week: AM </p>

                    <!-- Row of products -->
                    <div class="stepContainers" id="step-2-container">
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.amazon.com/Aveeno-Moisturizing-Soothing-Emollients-Fragrance-Free/dp/B001459IEE?ref_=ast_sto_dp&th=1&psc=1"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="lotion"></a>
                            <p>Aveeno Daily Moisturizer</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.cerave.com/skincare/cleansers/hydrating-facial-cleanser"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="cereve"></a>
                            <p>CereVe Hydrating Facial Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div> 
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.sephora.com/product/goop-goopglow-cloudberry-exfoliating-jelly-cleanser-P480606?country_switch=us&lang=en&skuId=2535979&srsltid=Ad5pg_HwCnlsbkoTgh_1sfq1vIQSSZRAla4u3DvtC59qpI5NSHsFng_TOJ0"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="goop lotion"></a>
                            <p>Goopglow Cloudberry Exfoliating Jelly Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser1.jpg" alt="cereve cleanser">
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser7.jpg" alt="cleanser">
                            <p>Shani Darden Cleansing Serum</p>
                            <p>$38.00<a href="/reviews">  Reviews</a></p>
                        </div>
                    </div>

                    <!-- Left & Right Arrows  -->
                    <div class="pure-g arrow-div">
                        <img class="arrow-btn left-arrow arrow-img" src="/static/images/UI/leftArrow.png"> 
                        <img class="arrow-btn right-arrow arrow-img" src="/static/images/UI/rightArrow.png">
                    </div>
                </div>

                <hr>

                <!-- Step 3 Row -->
                <div id="step-3" >

                    <!-- Header -->
                    <h2 class="content-subhead">Step 3: Toner</h2>
                    
                    <!-- Time schedule caption -->
                    <p> Everyday: AM & PM </p>
                    
                    <!-- Row of products -->
                    <div class="stepContainers" id="step-3-container">
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.amazon.com/Aveeno-Moisturizing-Soothing-Emollients-Fragrance-Free/dp/B001459IEE?ref_=ast_sto_dp&th=1&psc=1"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="lotion"></a>
                            <p>Aveeno Daily Moisturizer</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.cerave.com/skincare/cleansers/hydrating-facial-cleanser"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="cereve"></a>
                            <p>CereVe Hydrating Facial Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div> 
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.sephora.com/product/goop-goopglow-cloudberry-exfoliating-jelly-cleanser-P480606?country_switch=us&lang=en&skuId=2535979&srsltid=Ad5pg_HwCnlsbkoTgh_1sfq1vIQSSZRAla4u3DvtC59qpI5NSHsFng_TOJ0"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="goop lotion"></a>
                            <p>Goopglow Cloudberry Exfoliating Jelly Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser1.jpg" alt="cereve cleanser">
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser7.jpg" alt="cleanser">
                            <p>Shani Darden Cleansing Serum</p>
                            <p>$38.00<a href="/reviews">  Reviews</a></p>
                        </div>
                    </div>

                    <!-- Left & Right Arrows  -->
                    <div class="pure-g arrow-div">
                        <img class="arrow-btn left-arrow arrow-img" src="/static/images/UI/leftArrow.png"> 
                        <img class="arrow-btn right-arrow arrow-img" src="/static/images/UI/rightArrow.png">
                    </div>
                </div>

                <hr>

                <!-- Step 4 Row -->
                <div id="step-4" >

                    <!-- Header -->
                    <h2 class="content-subhead">Step 4: Serum</h2>
                    
                    <!-- Time schedule caption -->
                    <p> Everyday: AM & PM </p>
                    
                    <!-- Row of products -->
                    <div class="stepContainers" id="step-4-container">
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.amazon.com/Aveeno-Moisturizing-Soothing-Emollients-Fragrance-Free/dp/B001459IEE?ref_=ast_sto_dp&th=1&psc=1"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="lotion"></a>
                            <p>Aveeno Daily Moisturizer</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.cerave.com/skincare/cleansers/hydrating-facial-cleanser"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="cereve"></a>
                            <p>CereVe Hydrating Facial Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div> 
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.sephora.com/product/goop-goopglow-cloudberry-exfoliating-jelly-cleanser-P480606?country_switch=us&lang=en&skuId=2535979&srsltid=Ad5pg_HwCnlsbkoTgh_1sfq1vIQSSZRAla4u3DvtC59qpI5NSHsFng_TOJ0"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="goop lotion"></a>
                            <p>Goopglow Cloudberry Exfoliating Jelly Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser1.jpg" alt="cereve cleanser">
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser7.jpg" alt="cleanser">
                            <p>Shani Darden Cleansing Serum</p>
                            <p>$38.00<a href="/reviews">  Reviews</a></p>
                        </div>
                    </div>

                    <!-- Left & Right Arrows  -->
                    <div class="pure-g arrow-div">
                        <img class="arrow-btn left-arrow arrow-img" src="/static/images/UI/leftArrow.png"> 
                        <img class="arrow-btn right-arrow arrow-img" src="/static/images/UI/rightArrow.png">
                    </div>
                </div>

                <hr>
                    
                <!-- Step 5 Row -->
                <div id="step-5">

                    <!-- Header -->
                    <h2 class="content-subhead">Step 5: Moisturizer</h2>
                    
                    <!-- Time schedule caption -->
                    <p> Everyday: AM & PM </p>
                    
                    <!-- Row of products -->
                    <div class="stepContainers" id="step-5-container">

                        <!-- Loop through each product from the database function and display -->
                        {% for product in products_list %}
                            <!-- NOTE: Each product is stored in a size '1' list for some reason, so just remove the list part by indexing first element -->
                            {% set product = product[0] %}

                            <!-- Card container -->
                            <div class="pure-u-1-5 product-card">

                                <!-- Add product to user's routine -->
                                <button type="submit" class="add-to-routine-btn">+ Add to routine</button>
                                
                                <!-- Product referral link -->
                                <a href="{{ product['product_url'] }}">
                                    <!-- Product image -->
                                    <img class="pure-img-responsive" src="{{ product['image_path'] }}" alt="skincare product image">
                                </a>
                                
                                <!-- Product name -->
                                <p> {{ product['product_name'] }} </p>
                                
                                <!-- Product price & review information -->
                                <p>$19.99<a href="/reviews">  Reviews</a></p>
                      
                            </div>

                        {% endfor %}

                    </div>

                    <!-- Left & Right Arrows  -->
                    <div class="pure-g arrow-div">
                        <img class="arrow-btn left-arrow arrow-img" src="/static/images/UI/leftArrow.png"> 
                        <img class="arrow-btn right-arrow arrow-img" src="/static/images/UI/rightArrow.png">
                    </div>

                </div>

                <!-- Horizontal line -->
                <hr>
                    
                <!-- Step 6 Row -->
                <div id="step-6" >

                    <!-- Header -->
                    <h2 class="content-subhead">Step 6: Sunscreen</h2>
    
                    <!-- Time schedule caption -->
                    <p> Everyday: AM  </p>
                    
                    <!-- Row of products -->
                    <div class="stepContainers" id="step-6-container">
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.amazon.com/Aveeno-Moisturizing-Soothing-Emollients-Fragrance-Free/dp/B001459IEE?ref_=ast_sto_dp&th=1&psc=1"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="lotion"></a>
                            <p>Aveeno Daily Moisturizer</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.cerave.com/skincare/cleansers/hydrating-facial-cleanser"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="cereve"></a>
                            <p>CereVe Hydrating Facial Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div> 
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.sephora.com/product/goop-goopglow-cloudberry-exfoliating-jelly-cleanser-P480606?country_switch=us&lang=en&skuId=2535979&srsltid=Ad5pg_HwCnlsbkoTgh_1sfq1vIQSSZRAla4u3DvtC59qpI5NSHsFng_TOJ0"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="goop lotion"></a>
                            <p>Goopglow Cloudberry Exfoliating Jelly Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser1.jpg" alt="cereve cleanser">
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser7.jpg" alt="cleanser">
                            <p>Shani Darden Cleansing Serum</p>
                            <p>$38.00<a href="/reviews">  Reviews</a></p>
                        </div>
                    </div>

                    <!-- Left & Right Arrows  -->
                    <div class="pure-g arrow-div">
                        <img class="arrow-btn left-arrow arrow-img" src="/static/images/UI/leftArrow.png"> 
                        <img class="arrow-btn right-arrow arrow-img" src="/static/images/UI/rightArrow.png">
                    </div>
                </div>

                <hr>
    
            </div>
        </div>
    </div>
{% endblock %}