<!-- routine.html -->
<!-- SkinEasy Your Routine Page -->

<!-- Inherits from: -->
{% extends "base.html" %}

<!-- Title -->
{% block title %}SkinEasy - Your Routine{% endblock %}

<!-- Head -->
{% block head %}
    {{ super() }}

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SkinEasy Routine page showing users' skincare products by cleansing step.">

    <!-- Pure CSS -->
    <link rel="stylesheet" href="https://purecss.io/css/pure/pure-min.css">
    <link rel="stylesheet" href="https://purecss.io/layouts/side-menu/styles.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/products.css">

    <!-- Javascipt -->
    <script type="text/javascript" async defer src="https://purecss.io/js/ui.js"></script>
    <script type="text/javascript" async defer src="/static/js/products.js"></script>
{% endblock %}


<!-- Top navigation bar -->
{% block header %}
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">SKINEASY</a>
        
        <!-- Search bar -->
        <li class="pure-menu-item">
            <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search" id="searchBar">
            <button type="submit" id="searchbarbtn">Submit</button>
            </form>
        </li>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/products" class="pure-menu-link">Products</a></li>
            <li class="pure-menu-item"><a href="/routine" class="pure-menu-link">Your Routine</a></li>
            <li class="pure-menu-item"><a href="/signin" class="pure-menu-link">Sign In</a></li>
        </ul>
    </div>
{% endblock %}


<!-- Page content -->
{% block content %}

    <!-- Routine page main content -->
    <div id="main">
        <div class="header"> <h1>Your Routine</h1> </div>

        <!-- Container for all product rows -->
        <div class="productContainer">

            <div class="pure-u-1-1">
                <p>Some message about logging in to utilize routine system</p>
            </div>
            

            
            <!-- Cleansers -->
            <!-- NOTE: Show cany leansers user has in their wishlist -->
            {% if user_cleansers %}
                <div id="cleanser-container">
                    <h2 class="content-subhead">Cleansers</h2>       <!-- Cleanser section header -->
                    <p> 1 - 3 times a week: AM </p>                  <!-- Time schedule caption -->

                    <!-- Cleanser product card container -->
                    <div class="stepContainers" id="product-container">
                        <!-- Loop through each product from the database function and display -->
                        {% for cleanser in user_cleansers %}
                            {% set cleanser = cleanser[0] %}

                            <!-- Card container -->
                            <div class="pure-u-1-5 product-card">
                                <!-- Product referral link -->
                                <a href="{{ cleanser['product_url'] }}">                                                    
                                    <!-- Product image -->
                                    <img class="pure-img-responsive" src="{{ cleanser['image_path'] }}" alt="image of a cleanser">
                                </a>
                                <!-- Product name -->
                                <p> {{ cleanser['product_name'] }} </p>
                                <!-- Product price & review information -->
                                <p> {{ cleanser['price'] }} <a href="/reviews"> Reviews </a></p>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <hr>  <!-- Horizontal line -->
            {% endif %}


            <!-- Exfoliants -->
            <!-- NOTE: Show any exfoliants user has in their wishlist -->
            {% if user_exfoliants %}
                <div id="exfoliant-container">
                    <h2 class="content-subhead">Exfoliants</h2>      <!-- Exfoilant section header -->
                    <p> 1 - 3 times a week: AM </p>                  <!-- Time schedule caption -->

                    <!-- Cleanser product card container -->
                    <div class="stepContainers" id="product-container">
                        <!-- Loop through each product from the database function and display -->
                        {% for exfoliant in user_exfoliants %}
                            {% set exfoliant = exfoliant[0] %}

                            <!-- Card container -->
                            <div class="pure-u-1-5 product-card">
                                <!-- Product referral link -->
                                <a href="{{ exfoliant['product_url'] }}">                                                    
                                    <!-- Product image -->
                                    <img class="pure-img-responsive" src="{{ exfoliant['image_path'] }}" alt="image of an exfoliant">
                                </a>
                                <!-- Product name -->
                                <p> {{ exfoliant['product_name'] }} </p>
                                <!-- Product price & review information -->
                                <p> {{ exfoliant['price'] }} <a href="/reviews"> Reviews </a></p>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <hr>  <!-- Horizontal line -->
            {% endif %}

            
            <!-- Toners -->
            <!-- NOTE: Show toners if user has any in their wishlist -->
            {% if user_toners %}
                <div id="toner-container">
                    <h2 class="content-subhead">Toners</h2>             <!-- Toner section header -->
                    <p> Daily: AM & PM </p>                             <!-- Time schedule caption -->

                    <!-- Cleanser product card container -->
                    <div class="stepContainers" id="product-container">
                        <!-- Loop through each product from the database function and display -->
                        {% for toner in user_toners %}
                            {% set toner = toner[0] %}

                            <!-- Card container -->
                            <div class="pure-u-1-5 product-card">
                                <!-- Product referral link -->
                                <a href="{{ toner['product_url'] }}">                                                    
                                    <!-- Product image -->
                                    <img class="pure-img-responsive" src="{{ toner['image_path'] }}" alt="image of a moisturizer">
                                </a>
                                <!-- Product name -->
                                <p> {{ toner['product_name'] }} </p>
                                <!-- Product price & review information -->
                                <p> {{ toner['price'] }} <a href="/reviews"> Reviews </a></p>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <hr>  <!-- Horizontal line -->
            {% endif %}
            

            <!-- Serums -->
            <!-- NOTE: Show serums if user has any in their wishlist -->
            {% if user_serums %}
                <div id="serum-container">
                    <h2 class="content-subhead">Serums</h2>             <!-- Serum section header -->
                    <p> Daily: AM & PM </p>                             <!-- Time schedule caption -->

                    <!-- Cleanser product card container -->
                    <div class="stepContainers" id="product-container">
                        <!-- Loop through each product from the database function and display -->
                        {% for serum in user_serums %}
                            {% set serum = serum[0] %}

                            <!-- Card container -->
                            <div class="pure-u-1-5 product-card">
                                <!-- Product referral link -->
                                <a href="{{ serum['product_url'] }}">                                                    
                                    <!-- Product image -->
                                    <img class="pure-img-responsive" src="{{ serum['image_path'] }}" alt="image of a moisturizer">
                                </a>
                                <!-- Product name -->
                                <p> {{ serum['product_name'] }} </p>
                                <!-- Product price & review information -->
                                <p> {{ serum['price'] }} <a href="/reviews"> Reviews </a></p>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <hr>  <!-- Horizontal line -->
            {% endif %}


            <!-- Moisturizers -->
            <!-- NOTE: Show moisturizers if user has any in their wishlist -->
            {% if user_moisturizers %}
                <div id="moisturizer-container">
                    <h2 class="content-subhead">Moisturizers</h2>      <!-- Moisturizers section header -->
                    <p> Daily: AM & PM </p>                  <!-- Time schedule caption -->

                    <!-- Cleanser product card container -->
                    <div class="stepContainers" id="product-container">
                        <!-- Loop through each product from the database function and display -->
                        {% for moisturizer in user_moisturizers %}
                            {% set moisturizer = moisturizer[0] %}

                            <!-- Card container -->
                            <div class="pure-u-1-5 product-card">
                                <!-- Product referral link -->
                                <a href="{{ moisturizer['product_url'] }}">                                                    
                                    <!-- Product image -->
                                    <img class="pure-img-responsive" src="{{ moisturizer['image_path'] }}" alt="image of a moisturizer">
                                </a>
                                <!-- Product name -->
                                <p> {{ moisturizer['product_name'] }} </p>
                                <!-- Product price & review information -->
                                <p> {{ moisturizer['price'] }} <a href="/reviews"> Reviews </a></p>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <hr>  <!-- Horizontal line -->
            {% endif %}
            

            <!-- Sunscreens -->
            <!-- NOTE: Show sunscreens if user has any in their wishlist -->
            {% if user_suncreens %}
                <div id="sunscreen-container">
                    <h2 class="content-subhead">Sunscreens</h2>      <!-- Moisturizers section header -->
                    <p> Daily: AM & PM </p>                          <!-- Time schedule caption -->

                    <!-- Cleanser product card container -->
                    <div class="stepContainers" id="product-container">
                        <!-- Loop through each product from the database function and display -->
                        {% for sunscreen in user_suncreens %}
                            {% set sunscreen = sunscreen[0] %}

                            <!-- Card container -->
                            <div class="pure-u-1-5 product-card">
                                <!-- Product referral link -->
                                <a href="{{ sunscreen['product_url'] }}">                                                    
                                    <!-- Product image -->
                                    <img class="pure-img-responsive" src="{{ sunscreen['image_path'] }}" alt="image of a moisturizer">
                                </a>
                                <!-- Product name -->
                                <p> {{ sunscreen['product_name'] }} </p>
                                <!-- Product price & review information -->
                                <p> {{ sunscreen['price'] }} <a href="/reviews"> Reviews </a></p>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <hr>  <!-- Horizontal line -->
            {% endif %}

         
        </div>
    </div>
{% endblock %}