<!-- routine.html -->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SkinEasy</title>
    
        <!-- Meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A layout example that shows off a responsive product landing page.">
    
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/home.css">
        <link rel="stylesheet" href="/static/css/routine.css">

        <!-- JS -->
        <!-- <script type="text/javascript" async defer src="/static/js/quiz.js"></script> -->
        <script async defer src="/js/ui.js"></script>
    </head>



    <body>
        <!-- Navigation bar header -->
        <!-- FIXME: Later put as template for all pages -->
        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href="/">SKINEASY</a>
                
                <!-- Search bar -->
                <li class="pure-menu-item">
                    <form action="/action_page.php">
                      <input type="text" placeholder="Search.." name="search">
                      <button type="submit">Submit</button>
                    </form>
                </li>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/products" class="pure-menu-link">Products</a></li>
                    <li class="pure-menu-item"><a href="/routine" class="pure-menu-link">Your Routine</a></li>
                    <li class="pure-menu-item"><a href="/signin" class="pure-menu-link">Sign In</a></li>
                </ul>
            </div>
        </div>


        <!-- Faceted search bar -->
        <div id="layout">
            <!-- Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link">
                <!-- Hamburger icon -->
                <span></span>
            </a>
        
            <div id="menu">
                <div class="pure-menu">

                    <!-- Sign in button -->
                    <div id="signin-btn">
                        <button class="pure-menu-heading" href="#company">Hello, sign in</button>
                    </div>

                    <!-- Different side bar categories -->
                    <ul class="pure-menu-list">
                        
                        <!-- Brands section -->
                        <div id="brands">
                            <li class="pure-menu-item menu-item-divided pure-menu-selected">
                                <a href="#" class="pure-menu-link">Brands</a>
                            </li>
                        </div>

                        <!-- Categories section -->
                        <div id="categories">
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">Category</a>
                            </li>
                        </div>
        
                        <!-- Prices section -->
                        <div id="prices">
                            <li class="pure-menu-item menu-item-divided pure-menu-selected">
                                <a href="#" class="pure-menu-link">Prices</a>
                            </li>
                        </div>
        
                    </ul>
                </div>
            </div>
        
            <div id="main">
                <div class="header">
                    <h1>Page Title</h1>
                    <h2>A subtitle for your page goes here</h2>
                </div>
        
                <div class="content">
                    <h2 class="content-subhead">How to use this layout</h2>
                    <p>
                        To use this layout, you can just copy paste the HTML, along with the CSS in <a href="/layouts/side-menu/styles.css" alt="Side Menu CSS">side-menu.css</a>, and the JavaScript in <a href="/js/ui.js">ui.js</a>. The JS file uses vanilla JavaScript to simply toggle an <code>active</code> class that makes the menu responsive.
                    </p>
        
                    <h2 class="content-subhead">Now Let's Speak Some Latin</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
        
                    <div class="pure-g">
                        <div class="pure-u-1-4">
                            <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
                        </div>
                        <div class="pure-u-1-4">
                            <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
                        </div>
                        <div class="pure-u-1-4">
                            <img class="pure-img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
                        </div>
                        <div class="pure-u-1-4">
                            <img class="pure-img-responsive" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
                        </div>
                    </div>
        
                    <h2 class="content-subhead">Try Resizing your Browser</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>

    </body>

</html>