<!-- test.html -->
<!-- SkinEasy Products Page -->

<!-- Inherits from: -->
{% extends "base.html" %}

<!-- Title  -->
{% block title %}SkinEasy Products{% endblock %}

<!-- Head -->
{% block head %}
    {{ super() }}
    <!-- Page title -->
    <title>SkinEasy</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">

    <!-- Pure CSS -->
    <link rel="stylesheet" href="https://purecss.io/css/pure/pure-min.css">
    <link rel="stylesheet" href="https://purecss.io/layouts/side-menu/styles.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/products.css">

    <!-- Javascipt -->
    <script type="text/javascript" async defer src="https://purecss.io/js/ui.js"></script>
    <script type="text/javascript" async defer src="/static/js/products.js"></script>
{% endblock %}


<!-- Top navigation bar -->
{% block header %}
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">SKINEASY</a>
        
        <!-- Search bar -->
        <li class="pure-menu-item">
            <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search" id="searchBar">
            <button type="submit" id="searchbarbtn">Submit</button>
            </form>
        </li>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/products" class="pure-menu-link">Products</a></li>
            <li class="pure-menu-item"><a href="/routine" class="pure-menu-link">Your Routine</a></li>
            <li class="pure-menu-item"><a href="/signin" class="pure-menu-link">Sign In</a></li>
        </ul>
    </div>
{% endblock %}


<!-- Page content -->
{% block content %}
    <!-- Page layout  -->
    <div id="layout">
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
        
        <!-- Filter menu  -->
        <div id="menu" class="pure-g filterContainer">
            <form id="filterform">
                <h3>Category</h3>
                <div>
                    <input type="checkbox" id="cleanser" name="cleanser" value="1">                        
                    <label for="cleanser">Cleanser</label>
                </div>
                <div>
                    <input type="checkbox" id="exfoliant" name="exfoliant" value="1">
                    <label for="exfoliant">Exfoliant</label>
                </div>
                <div>
                    <input type="checkbox" id="toner" name="toner" value="1">                    
                    <label for="toner">Toner</label>
                </div>
                <div>
                    <input type="checkbox" id="serum" name="serum" value="1">                    
                    <label for="serum">Serum</label>
                </div>
                <div>
                    <input type="checkbox" id="moisturizer" name="moisturizer" value="1">                    
                    <label for="moisturizer">Moisturizer</label>
                </div>
                <div>
                    <input type="checkbox" id="sunscreen" name="sunscreen" value="1">                    
                    <label for="sunscreen">Sunscreen</label>
                </div>

                <h3>Skin Type</h3>
                <div>
                    <input type="checkbox" id="normal" name="normal" value="1">
                    <label for="normal">Normal</label>
                </div>
                <div>
                    <input type="checkbox" id="dry" name="dry" value="1">
                    <label for="dry">Dry</label>
                </div>
                <div>
                    <input type="checkbox" id="oily" name="oily" value="1">
                    <label for="oily">Oily</label>
                </div>
                <div>
                    <input type="checkbox" id="all" name="all" value="1">
                    <label for="all">Show All</label>
                </div>

                <h3>Price</h3>
                <div>
                    <input type="radio" id="under20" name="price" value="under20">
                    <label for="under25">Under $20</label>
                </div>
                <div>
                    <input type="radio" id="20to40" name="price" value="20-40">
                    <label for="20to40">$20 - $40 </label>
                </div>
                <div>
                    <input type="radio" id="40to60" name="price" value="40-60">
                    <label for="40to60">$40 - $60 </label>
                </div>
                <div>
                    <input type="radio" id="60to80" name="price" value="60-80">
                    <label for="60to80">$60 - $80 </label>
                </div>
                <div>
                    <input type="radio" id="80andup" name="price" value="80andup">
                    <label for="80andup">$80 & Above</label>
                </div>
                <button class="button-submit pure-button">Filter</button>    
            </form>
            
        </div>
 

        <!-- Main page content -->
        <div id="main">
            <div class="header">
                <h1>Products</h1>
                <!--do templating and change below to empty string if all products pg, do below if user submited quiz(takes them to recc page) -->
                <h3>Your recommended products</h3>
            </div>
            <div class="productContainer">
    
                <!-- Step 1 row -->
                <div id="step-1" >
                    <h2 class="content-subhead">Step 1: Cleanser</h2>
                    <p>
                        Everyday: AM & PM
                    </p>
                    
                    <!-- Example row of products -->
                    <div class="stepContainers" id="step1container">
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.amazon.com/Aveeno-Moisturizing-Soothing-Emollients-Fragrance-Free/dp/B001459IEE?ref_=ast_sto_dp&th=1&psc=1"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="lotion"></a>
                            <p>Aveeno Daily Moisturizer</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.cerave.com/skincare/cleansers/hydrating-facial-cleanser"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="cereve"></a>
                            <p>CereVe Hydrating Facial Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div> 
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.sephora.com/product/goop-goopglow-cloudberry-exfoliating-jelly-cleanser-P480606?country_switch=us&lang=en&skuId=2535979&srsltid=Ad5pg_HwCnlsbkoTgh_1sfq1vIQSSZRAla4u3DvtC59qpI5NSHsFng_TOJ0"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="goop lotion"></a>
                            <p>Goopglow Cloudberry Exfoliating Jelly Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser1.jpg" alt="cereve cleanser">
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser7.webp" alt="cleanser">
                            <p>Shani Darden Cleansing Serum</p>
                            <p>$38.00<a href="/reviews">  Reviews</a></p>
                        </div>
                    </div>
                    <!-- left and right arrows  -->
                    <div class="pure-g" id="arrow-div">
                        <button type="submit" class="arrowbtn" id="leftarrow1"><img src="/static/images/leftArrow.png" class="arrow"></button>
                        <button type="submit" class="arrowbtn" id="rightarrow1"><img src="/static/images/rightArrow.png" class="arrow"></button>
                    </div>
                    
                </div>

                <hr>

            <!-- Step 2 row -->
            <div id="step-2" >
                    <h2 class="content-subhead">Step 2: Exfoliant</h2>
                    
                    <p>
                        1 - 3 times a week: AM 
                    </p>
                    
                    <!-- Example row of products -->
                    <div class="stepContainers" id="step2container">
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.amazon.com/Aveeno-Moisturizing-Soothing-Emollients-Fragrance-Free/dp/B001459IEE?ref_=ast_sto_dp&th=1&psc=1"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="lotion"></a>
                            <p>Aveeno Daily Moisturizer</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.cerave.com/skincare/cleansers/hydrating-facial-cleanser"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="cereve"></a>
                            <p>CereVe Hydrating Facial Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div> 
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.sephora.com/product/goop-goopglow-cloudberry-exfoliating-jelly-cleanser-P480606?country_switch=us&lang=en&skuId=2535979&srsltid=Ad5pg_HwCnlsbkoTgh_1sfq1vIQSSZRAla4u3DvtC59qpI5NSHsFng_TOJ0"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="goop lotion"></a>
                            <p>Goopglow Cloudberry Exfoliating Jelly Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser1.jpg" alt="cereve cleanser">
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser7.webp" alt="cleanser">
                            <p>Shani Darden Cleansing Serum</p>
                            <p>$38.00<a href="/reviews">  Reviews</a></p>
                        </div>
                    </div>
                    <!-- left and right arrows  -->
                    <div class="pure-g" id="arrow-div">
                        <button type="submit" class="arrowbtn" id="leftarrow2"><img src="/static/images/leftArrow.png" class="arrow"></button>
                        <button type="submit" class="arrowbtn" id="rightarrow2"><img src="/static/images/rightArrow.png" class="arrow"></button>
                    </div>

                </div>

                <hr>

                <!-- Step 3 row -->
                <div id="step-3" >
                    <h2 class="content-subhead">Step 3: Toner</h2>
                    
                    <p>
                        Everyday: AM & PM 
                    </p>
                    
                    <!-- Example row of products -->
                    <div class="stepContainers" id="step3container">
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.amazon.com/Aveeno-Moisturizing-Soothing-Emollients-Fragrance-Free/dp/B001459IEE?ref_=ast_sto_dp&th=1&psc=1"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="lotion"></a>
                            <p>Aveeno Daily Moisturizer</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.cerave.com/skincare/cleansers/hydrating-facial-cleanser"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="cereve"></a>
                            <p>CereVe Hydrating Facial Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div> 
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.sephora.com/product/goop-goopglow-cloudberry-exfoliating-jelly-cleanser-P480606?country_switch=us&lang=en&skuId=2535979&srsltid=Ad5pg_HwCnlsbkoTgh_1sfq1vIQSSZRAla4u3DvtC59qpI5NSHsFng_TOJ0"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="goop lotion"></a>
                            <p>Goopglow Cloudberry Exfoliating Jelly Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser1.jpg" alt="cereve cleanser">
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser7.webp" alt="cleanser">
                            <p>Shani Darden Cleansing Serum</p>
                            <p>$38.00<a href="/reviews">  Reviews</a></p>
                        </div>
                    </div>
                    <!-- left and right arrows  -->
                    <div class="pure-g" id="arrow-div">
                        <button type="submit" class="arrowbtn" id="leftarrow3"><img src="/static/images/leftArrow.png" class="arrow"></button>
                        <button type="submit" class="arrowbtn" id="rightarrow3"><img src="/static/images/rightArrow.png" class="arrow"></button>
                    </div>
                </div>

                <hr>

                <!-- Step 4 row -->
                <div id="step-4" >
                    <h2 class="content-subhead">Step 4: Serum</h2>
                    
                    <p>
                        Everyday: AM & PM 
                    </p>
                    
                    <!-- Example row of products -->
                    <div class="stepContainers" id="step4container">
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.amazon.com/Aveeno-Moisturizing-Soothing-Emollients-Fragrance-Free/dp/B001459IEE?ref_=ast_sto_dp&th=1&psc=1"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="lotion"></a>
                            <p>Aveeno Daily Moisturizer</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.cerave.com/skincare/cleansers/hydrating-facial-cleanser"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="cereve"></a>
                            <p>CereVe Hydrating Facial Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div> 
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.sephora.com/product/goop-goopglow-cloudberry-exfoliating-jelly-cleanser-P480606?country_switch=us&lang=en&skuId=2535979&srsltid=Ad5pg_HwCnlsbkoTgh_1sfq1vIQSSZRAla4u3DvtC59qpI5NSHsFng_TOJ0"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="goop lotion"></a>
                            <p>Goopglow Cloudberry Exfoliating Jelly Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser1.jpg" alt="cereve cleanser">
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser7.webp" alt="cleanser">
                            <p>Shani Darden Cleansing Serum</p>
                            <p>$38.00<a href="/reviews">  Reviews</a></p>
                        </div>
                    </div>
                    <!-- left and right arrows  -->
                    <div class="pure-g" id="arrow-div">
                        <button type="submit" class="arrowbtn" id="leftarrow4"><img src="/static/images/leftArrow.png" class="arrow"></button>
                        <button type="submit" class="arrowbtn" id="rightarrow4"><img src="/static/images/rightArrow.png" class="arrow"></button>
                    </div>

                </div>

                <hr>
                
                <!-- Step 5 row -->
                <div id="step-5">
                    <h2 class="content-subhead">Step 5: Moisturizer</h2>
                    
                    <p>
                        Everyday: AM & PM 
                    </p>
                    
                    <!-- Example row of products -->
                    <div class="stepContainers" id="step5container">
                        
                        <!-- Loop through each product from the database function and display -->
                        {% for product in products_list %}
                            <!-- NOTE: Each product is stored in a size '1' list for some reason, so just remove the list part by indexing first element -->
                            {% set product = product[0] %}

                            <!-- Card container -->
                            <div class="pure-u-1-5 product-card">
                                <!-- Product referral link -->
                                <a href="{{ product['product_url'] }}">
                                    <!-- Product image -->
                                    <img class="pure-img-responsive" src="{{ product['image_path'] }}" alt="skincare product image">
                                </a>
                                
                                <!-- Product name -->
                                <p> {{ product['product_name'] }} </p>
                                
                                <!-- Product price & review information -->
                                <p>$19.99<a href="/reviews">  Reviews</a></p>
                            </div>

                        {% endfor %}

                    </div>
                    <!-- left and right arrows  -->
                    <div class="pure-g" id="arrow-div">
                        <button type="submit" class="arrowbtn" id="leftarrow5"><img src="/static/images/leftArrow.png" class="arrow"></button>
                        <button type="submit" class="arrowbtn" id="rightarrow5"><img src="/static/images/rightArrow.png" class="arrow"></button>
                    </div>
                </div>

                <hr>
                
                <!-- Step 6 row -->
                <div id="step-6" >
                    <h2 class="content-subhead">Step 6: Sunscreen</h2>
                    
                    <p>
                        Everyday: AM 
                    </p>
                    
                    <!-- Example row of products -->
                    <div class="stepContainers" id="step5container">
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.amazon.com/Aveeno-Moisturizing-Soothing-Emollients-Fragrance-Free/dp/B001459IEE?ref_=ast_sto_dp&th=1&psc=1"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="lotion"></a>
                            <p>Aveeno Daily Moisturizer</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.cerave.com/skincare/cleansers/hydrating-facial-cleanser"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="cereve"></a>
                            <p>CereVe Hydrating Facial Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.weleda.com/product/s/skin-food"><img class="pure-img-responsive" src="/static/images/weleda.jpeg" alt="weleda moisture"></a>
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div> 
                        <div class="pure-u-1-5 product-card">
                            <a href="https://www.sephora.com/product/goop-goopglow-cloudberry-exfoliating-jelly-cleanser-P480606?country_switch=us&lang=en&skuId=2535979&srsltid=Ad5pg_HwCnlsbkoTgh_1sfq1vIQSSZRAla4u3DvtC59qpI5NSHsFng_TOJ0"><img class="pure-img-responsive" src="/static/images/lotion1.jpg" alt="goop lotion"></a>
                            <p>Goopglow Cloudberry Exfoliating Jelly Cleanser</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser1.jpg" alt="cereve cleanser">
                            <p>Skin Food Original Ultra-Rich Cream</p>
                            <p>$19.99<a href="/reviews">  Reviews</a></p>
                        </div>
                        <div class="pure-u-1-5 product-card">
                            <img class="pure-img-responsive" src="/static/images/cleanser7.webp" alt="cleanser">
                            <p>Shani Darden Cleansing Serum</p>
                            <p>$38.00<a href="/reviews">  Reviews</a></p>
                        </div>
                    </div>
                    <!-- left and right arrows  -->
                    <div class="pure-g" id="arrow-div">
                        <button type="submit" class="arrowbtn" id="leftarrow6"><img src="/static/images/leftArrow.png" class="arrow"></button>
                        <button type="submit" class="arrowbtn" id="rightarrow6"><img src="/static/images/rightArrow.png" class="arrow"></button>
                    </div>  
        
                </div>

                <hr>
    
            </div>
        </div>
    </div>
{% endblock %}