<!-- youAccount.html -->
<!-- SkinEasy Your account page -->

<!-- Inherits from: -->
{% extends "base.html" %}

<!-- Title  -->
{% block title %}Your Account{% endblock %}

<!-- Head -->
{% block head %}
  {{ super() }}
 
    <!-- Pure CSS -->
    <link rel="stylesheet" href="https://purecss.io/layouts/side-menu/styles.css">

    <!-- javascipt -->
    <script src="https://purecss.io/js/ui.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/yourAccount.css">

     <!-- JS -->
     <script type="text/javascript" async defer src="/static/js/myAccount.js"></script>

{% endblock %}

{% block content %}
        <div id="main">
            <div class="header">
                <h1>Your Account</h1>
            </div>
        <div>
        <!-- Quiz Selection Container  -->
        <div id="quizSelectionContainer">
            <h2 id="yourAccountHeaders">Your Quiz Selections:</h2> 
            <!-- Selection Content Container -->
            <div id="quizSelectionsDiv" class="pure-g">
                <div class="quizSelections pure-u-1">
                    <button onclick="show_skin_type_form()" id="edit_skin_type_btn" class="editBtn"><img id="icons" src="/static/images/editIcon.png" ></button>
                    <h3><span>Skin Type:</span> {{ user_skin_type }}</h3>
                        <!-- Skin type form -->
                        <form action="/edit_skin_type" style="display:none" id="skin_type_form" method="POST">
                            <h4>Modify your skin type: </h4>
                            <!-- Option 1) Normal skin -->
                            <input type="radio" id="normal-skin" name="skin-type" value="normal-skin">
                            <label class="quiz-btn-label" for="normal-skin">Normal</label><br>
                            <!-- Option 2) Dry skin -->
                            <input type="radio" id="dry-skin" name="skin-type" value="dry-skin">
                            <label class="quiz-btn-label" for="dry-skin">Dry</label><br>
                            <!-- Option 3) Oily skin -->
                            <input type="radio" id="oily-skin" name="skin-type" value="oily-skin">
                            <label class="quiz-btn-label" for="oily-skin">Oily</label>
                            <button type="submit" id="submit_edit_btn">Modify</button>
                        </form> 
                       
                </div>   
                <div class="quizSelections pure-u-1">
                    <button onclick="show_skin_target_form()"  id="edit_target_btn"><img id="icons" src="/static/images/editIcon.png" ></button>
                    <h3><span>Target:</span> {{ user_target }}</h3>
                    <!-- Skin Targeting Form -->
                    <form action="/edit_skin_target" style="display:none" id="target_form" method="POST">
                        <h4>Modify your skin target: </h4>
                        <!-- Option 1) Sensitive -->
                        <input type="radio"id="sensitive-target" name="target-type" value="sensitive-target">
                        <label class="quiz-btn-label" for="sensitive-target">Sensitive</label><br>
                        <!-- Option 2) Mature -->
                        <input type="radio" id="mature-target" name="target-type" value="mature-target">
                        <label class="quiz-btn-label" for="mature-target">Mature</label><br>
                        <!-- Option 3) None -->
                        <input type="radio" id="none-target" name="target-type" value="none-target">
                        <label class="quiz-btn-label" for="none-target">None</label>
                        <button type="submit" id="submit_edit_btn">Modify</button>
                    </form>
                </div>
                <div class="quizSelections pure-u-1">
                    <button onclick="show_num_of_steps_form()"  id="edit_num_of_steps_btn"><img id="icons" src="/static/images/editIcon.png" ></button>
                    <h3><span># of Steps:</span> {{ routine_steps }}</h3>
                    <!-- Number of Steps Form -->
                    <form action="/edit_num_of_steps" style="display:none" id="num_of_steps_form" method="POST">
                    <h4>Modify the number of steps in your routine:</h4>
                    <!-- Option 1) Redness -->
                    <input type="radio" id="two-steps" name="number-steps" value="2">
                    <label class="quiz-btn-label" for="two-steps">2 Steps</label><br>
                    <!-- Option 2) Acne -->
                    <input type="radio" id="three-steps" name="number-steps" value="3">
                    <label class="quiz-btn-label" for="three-steps">3 Steps</label><br>
                    <!-- Option 3) None -->
                    <input type="radio" id="three-plus-steps" name="number-steps" value="6">
                    <label class="quiz-btn-label" for="three-plus-steps">4+ Steps</label>
                        <button type="submit" id="submit_edit_btn">Modify</button>
                    </form>
                </div>
            </div>             
        </div>
        
        
        <div class= "pure-g" id="reviewsContainer" >
            <h2 id="yourAccountHeaders">Reviews you have written:</h2>
            <div id="reviewsWrittenInnerContainer">
                
            </div>
        </div>
{% endblock %}
